# IDE
.idea
.vscode

# Dependencies
node_modules

# Build output
dist

# Test coverage
coverage

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# Local test scripts
index.js